.card {
    background-color: white !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px !important
}

.card:hover {
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0px !important
}

.card>a {
    text-decoration: none !important;
    color: black !important
}

#blockitems {
    margin-right: 0px !important;
    margin-left: 0px !important
}

#icons_section {
    width: 13%;
    text-align: center;
    padding: 0% !important
}

#icons_section>i {
    font-size: 25px;
    color: black !important
}

#heading_section {
    font-weight: 300;
    font-size: 18px
}

.cssanimation {
    animation-duration: 1s;
    animation-fill-mode: both
}

.fadeInBottom {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1
    }
}

.cssanimation2 {
    animation-duration: 2s;
    animation-fill-mode: both
}

.fadeInBottom2 {
    animation-name: fadeInBottom
}

#grid-card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important;
    transition: all .5s ease !important
}