// -------------------------------------------------------------------------- //
//  LINKS                                                                     //
// -------------------------------------------------------------------------- //

a {
    color: $link-color;
    font-weight: $font-bold;
    text-decoration: none;
    display: inline-block;
  
    &:hover,
    &.active {
      color: $link-hover;
    }
  }
  